
<div class="row">
    
    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Delivred Orders</h5>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">#</th>
                                <th class="border-0">Owner</th>
                                <th class="border-0">Total Price</th>
                                <th class="border-0">List of products</th>
                                <th class="border-0">State</th>
                                <th class="border-0">Change State</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of result; let i=index">
                                <td>{{i+1}}</td>
                            
                                <td>{{order.owner.name}} </td>
                                <td>{{order.totalPrice}} </td>
                                <td><a href=""><i class="fas fa-list-ol"></i></a></td>
                                <td>
                                    <p *ngIf="order.state==0"><span class="badge-dot badge-brand-0 mr-1"></span>waiting</p>
                                    <p *ngIf="order.state==1"><span class="badge-dot badge-brand-1 mr-1"></span>packaging</p>
                                    <p *ngIf="order.state==2"><span class="badge-dot badge-brand-2 mr-1"></span>InTransit</p>
                                    <p *ngIf="order.state==3"><span class="badge-dot badge-brand-3 mr-1"></span>delevred</p>
                                 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
