
<div class="row">
    <div class="card ">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input class="form-control form-control-lg" [(ngModel)]="name"/>
                </div>
            
                
                <button type="submit" (click)="save()" [disabled]="btnDisabled" class="btn btn-primary btn-lg btn-block">Add Category</button>
            </form>
        </div>
       
    </div>
    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Categories list</h5>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">#</th>
                                <th class="border-0">Title </th>
                                <th class="border-0">Delete</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of result; let i=index">
                                <td>{{i+1}}</td>
                            
                                <td>{{category.name}} </td>
                                
                                <td><a (click)="delete(category._id)"><i class="fas fa-trash"></i></a></td>
                            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
