<!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a href="#"><img class="logo-img" src="../assets/images/logo.png" alt="logo"></a><span class="splash-description">Please enter your user information.</span></div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input class="form-control form-control-lg" [(ngModel)]="email"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg"  type="password"[(ngModel)]="password">
                    </div>
                    
                    <button type="submit" (click)="login()" [disabled]="btnDisabled" class="btn btn-primary btn-lg btn-block">Sign in</button>
                </form>
            </div>
           
        </div>
    </div>
  
    <!-- ============================================================== -->
    <!-- end login page  -->