<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                        <div id="submenu-1" class=" submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-1" aria-controls="submenu-1-1">Users</a>
                                    <div id="submenu-1-1" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            
                                            <li class="nav-item">
                                                <a class="nav-link" routerLink="/sellers-list">Sellers list</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" routerLink="/users-list">Regular users</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2" aria-controls="submenu-1-2">Products</a>
                                  <div id="submenu-1-2" class="collapse submenu" style="">
                                      <ul class="nav flex-column">
                                          <li class="nav-item">
                                              <a class="nav-link" routerLink="/products-list" >Products list</a>
                                          </li>
                                          <li class="nav-item">
                                              <a class="nav-link" routerLink="/products-promotion-list">Products in promotion list</a>
                                          </li>
                                        
                                          
                                      </ul>
                                  </div>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-3" aria-controls="submenu-1-3">Orders</a>
                                <div id="submenu-1-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/orders-list" >Orders list</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/delivred-orders-list">Delivred orders</a>
                                        </li>
                                      
                                        
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-4" aria-controls="submenu-1-4">Reports</a>
                              <div id="submenu-1-4" class="collapse submenu" style="">
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" routerLink="/reports-list" >Reviews reports</a>
                                      </li>
                                
                                  </ul>
                              </div>
                          </li>
                               
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </div>
</div>