
<div class="row">
    
    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Reported review s</h5>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">#</th>
                                <th class="border-0">Owner</th>
                                <th class="border-0">Title </th>
                                <th class="border-0">N° reports</th>
                                <th class="border-0">Delete</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let review of result; let i=index">
                                <td>{{i+1}}</td>
                            
                                <td>{{review.owner.name}} </td>
                                <td>{{review.title}} </td>
                                <td><p *ngIf="review.report<=2"><span class="badge-dot badge-brand-3 mr-1"></span>{{review.report}}</p>
                                    <p *ngIf="review.report<=5 &&review.report>2"><span class="badge-dot badge-brand-2 mr-1"></span>{{review.report}}</p>
                                    <p *ngIf="review.report<=8 &&review.report>5"><span class="badge-dot badge-brand-1 mr-1"></span>{{review.report}}</p>
                                    <p *ngIf="review.report>8"><span class="badge-dot badge-brand-0 mr-1"></span>{{review.report}}</p> </td>
                                <td><a (click)="delete(review._id)"><i class="fas fa-trash"></i></a></td>
                            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
