
<div class="row">
    
    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">All products</h5>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">#</th>
                                <th class="border-0">Image</th>
                                <th class="border-0">Product Name</th>
                                <th class="border-0">Quantity</th>
                                <th class="border-0">Price</th>
                                <th class="border-0">Purchast price</th>
                                <th class="border-0">Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of result; let i=index">
                                <td>{{i+1}}</td>
                                <td>
                                    <div class="m-r-10"><img src="localhost:5000/api/seller/image/{{product.fileName}}" alt="product image" class="rounded" width="45"></div>
                                </td>
                                <td>{{product.title}} </td>
                                <td>{{product.quantity}}</td>
                                <td>{{product.price}}</td>
                                <td>under contruction</td>
                                <td>{{product.owner}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
