
<div class="row">
    
    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Sellers List</h5>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">#</th>
                                <th class="border-0">Image</th>
                                <th class="border-0">User Name</th>
                                <th class="border-0">E-Mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of result; let i=index">
                                <td>{{i+1}}</td>
                                <td>
                                    <div class="m-r-10"><img src="{{user.picture}}" alt="user" class="rounded" width="45"></div>
                                </td>
                                <td>{{user.name}} </td>
                                <td>{{user.email}} </td>
                            
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
